*{
	margin: 0;
	padding: 0;
}
body{
	margin: 30px;
}
img{
	width: 300px;

}
.logo{
	text-align: center;
	margin-top: 0;
}
.block{
	display: block;
}
.link{
	display: block;
	width: 25%;
	float: left;
}
.link:after{
	content: "";
    display: block;
	clear: both;
}
.text{
	
	width: 50%;
	float: left;
	display: block;
}
.form{
	
	float: left;
	width: 25%;
	text-align: center;
	display: block;
}
.block:after{
	content: "";
    display: block;
	clear: both;
}
footer{
	margin-top: 30px;
	width: 100%;
	background-color: #ccc;
	display: block;
	float: left;
}
.textlink a{
    color: #fff;

}
.textlink ul{
	list-style-type: none;
	text-align: center;
    padding: 10px;

}
.textlink div{
	width: 25%;
	display: block;
	float: left;
}


