*{
	margin: 0;
	padding: 0;
}
img{
	width: 300px;

}
.logo{
	text-align: center;
	margin-top: 30px;
}
.link{
	margin: 40px;
	display: block;
	width: 25%;
	float: left;
	h
}
.text{
	width: 50%;
	float: left;
	text-align: center;
	display: block;
}